.modalCard {
    width: 600px;
    height: 800px;
    background: var(--white);
    border-radius: 8px;
    padding: 16px 16px 24px 8px;
}

.modalInfo {
    margin: 15px;
    background: red;
}

.modalButtonGroup {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: start;
}